ModuleCheckingTemp/Connected Services/ServiceReference1/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModulusCheckingBL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModulusCheckingBL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59270/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SortCodeModulus">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdditionalCheck" nillable="true" type="tns:SortCodeModulus" />
      <xs:element minOccurs="0" name="Ext" type="xs:short" />
      <xs:element minOccurs="0" name="Implemented" type="xs:boolean" />
      <xs:element minOccurs="0" name="Modulus" type="xs:short" />
      <xs:element minOccurs="0" name="SortCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valid" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Weights" nillable="true" type="q1:ArrayOfshort" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SortCodeModulus" nillable="true" type="tns:SortCodeModulus" />
</xs:schema>